/* Main Variables */

:root {
/*Page Wide Variables*/
--mainFont: 'Times New Roman', Times, serif; 

/*Header Variables*/
--underlineColorHeader: rgb(1, 106, 106);
--headerBackgroundColor: rgb(45, 45, 45); 
--headerTextColor: rgb(1, 106, 106);
--titleTextColor: black;
--titleBackgroundColor: rgb(1, 106, 106);
--mainTitleColor: rgb(45, 45, 45);

/*Body Variables*/
--bodyBackgroundColor: white; 

/*Main Content Variables*/
--generalTextColor: rgb(2, 38, 77); 
--appTitleTextColor: black; 
--contactMeTextColor: black;
--workSectionBorderColor: rgb(132, 187, 187);
--generalFontSize: 12px;
}

* {
    font-family: var(--mainFont); 
    font-size: var(--generalFontSize);
    padding: 0px; 
    margin: 0px;
}

/* Modifying  Styling attributes of the header banner, this is the
container box that will allow me to set background color as well as 
flex attributes. */
/* HEADER STYLING ATTRIBUTES */
#headerBanner {
    background-color: var(--headerBackgroundColor);
    height: 50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Creating a container for the Header title so that I can modify 
text attributes as well as a apply dimensions to the attribute so 
that it is responsive to width changes. */

.homepageHeaderTitle {
    background-color: var(--titleBackgroundColor);
    width: 20%;
    text-align: right;
    padding: 5px;
    margin-right: 10px;
}

/* Modifying text properties using this ID selector. */

#mainTitle {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    color: var(--mainTitleColor);
}

/* Adding padding to the right so that the container that holds
the header options is pushed to the right from the right side of 
the parent container. */
.homepageHeaderOptionsBox {
    padding-right: 35px;
}

/* Removing the purple color displayed for links that have been 
clicked. */
.headerButtonLinks:visited {
    text-decoration: none;
    color: var(--headerTextColor);
}

.homepageHeaderButton {
    display: inline;
    color: var(--headerTextColor);
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    padding: 5px;
    text-underline-offset: 3px;
    text-decoration-line: underline;
} 

/* END OF HEADER STYLING ATTRIBUTES */


/*HOMEPAGE BANNER STYLING ELEMENTS*/

/*Applying sizing properties to the image as well
as modifying the image so that it fits and renders
properly in its container.*/
#homepageBannerImage {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

/*Applying general sizing and styling properties 
as well as position properties so that a subtitle
appears within the image container.*/
.bannerSubtitle {
    background-color: var(--titleBackgroundColor);
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    position: absolute;
    top: 180px;
    right: 10px;
}

/*END OF HOMEPAGE BANNER Styling Attributes*/

/*Beginning of body stylings*/
/*BEGINNING OF ABOUT ME SECTION STYLINGS*/
.contentContainer {
    width: 100%;
    height: 250px;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--titleBackgroundColor);
}

.gridContainer {
    display: grid;
    grid-template-columns: 150px auto auto;
    gap: 10px;
}

.gridItem1 {
    grid-column-start: 1;
    grid-column-end: 1;
}

#headshotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

#headshot {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

#textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.aboutMeDetailsText {
    font-size: 16px;
    font-family: var(--mainFont);
    margin-left: 5px;
    padding-left: 5px;
}

.gridItem2 {
    grid-column-start: 2;
    grid-column-end: 2;
}

.griItem3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.sectionTitleContainer {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    border-right: solid;
    border-color: var(--titleBackgroundColor);
}

.sectionTitle {
    font-size: 32px; 
    font-weight: bold;
    font-family: var(--mainFont);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 5px;
    padding-right: 5px;
}
/*END OF ABOUT ME SECTION*/

/*BEGINNING OF WORK SECTION CONTAINER*/
.workContentContainer {
    width: 100%;
    height: 600px;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--titleBackgroundColor);
}

.workGridContainer {
    display: grid;
    grid-template-columns: 150px auto auto;
    gap: 10px;
}

.workSectionGridItem1 {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: red;
}

.workSectionGridItem2 {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
    background-color: black;
}

.projectsGridContainer {
    display: grid;
    grid-template-columns: 150px auto auto;
    gap: 10px;
}

.projectGridItem1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.workSectionTitleContainer {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 5px;
    border-right: solid;
    border-color: var(--titleBackgroundColor);
}

.workSectionTitle {
    font-size: 32px; 
    font-weight: bold;
    font-family: var(--mainFont);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 5px;
    padding-right: 5px;
}


#firstProjectImage {
    width: 50%;
    height: 10%;
    object-fit: fill;
}

/*END OF WORK SECTION CONTAINER*/
/*End of body stylings*/

