/* Main Variables */

:root {
/*Page Wide Variables*/
--mainFont: 'Times New Roman', Times, serif; 

/*Header Variables*/
--underlineColorHeader: rgb(1, 106, 106);
--headerBackgroundColor: rgb(45, 45, 45); 
--headerTextColor: rgb(1, 106, 106);
--titleTextColor: black;
--titleBackgroundColor: rgb(1, 106, 106);
--mainTitleColor: rgb(45, 45, 45);

/*Body Variables*/
--bodyBackgroundColor: white; 

/*Main Content Variables*/
--generalTextColor: rgb(2, 38, 77); 
--appTitleTextColor: black; 
--contactMeTextColor: black;
--workSectionBorderColor: rgb(132, 187, 187);
--generalFontSize: 12px;
}

* {
    font-family: var(--mainFont); 
    font-size: var(--generalFontSize);
    padding: 0px; 
    margin: 0px;
}

/* Modifying  Styling attributes of the header banner, this is the
container box that will allow me to set background color as well as 
flex attributes. */
/* HEADER STYLING ATTRIBUTES */
#headerBanner {
    background-color: var(--headerBackgroundColor);
    height: 50px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Creating a container for the Header title so that I can modify 
text attributes as well as a apply dimensions to the attribute so 
that it is responsive to width changes. */

.homepageHeaderTitle {
    background-color: var(--titleBackgroundColor);
    width: 20%;
    text-align: right;
    padding: 5px;
    margin-right: 10px;
}

/* Modifying text properties using this ID selector. */

#mainTitle {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    color: var(--mainTitleColor);
}

/* Adding padding to the right so that the container that holds
the header options is pushed to the right from the right side of 
the parent container. */
.homepageHeaderOptionsBox {
    padding-right: 35px;
}

/* Removing the purple color displayed for links that have been 
clicked. */
.headerButtonLinks:visited {
    text-decoration: none;
    color: var(--headerTextColor);
}

.homepageHeaderButton {
    display: inline;
    color: var(--headerTextColor);
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    padding: 5px;
    text-underline-offset: 3px;
    text-decoration-line: underline;
} 

/* END OF HEADER STYLING ATTRIBUTES */


/*HOMEPAGE BANNER STYLING ELEMENTS*/

/*Applying sizing properties to the image as well
as modifying the image so that it fits and renders
properly in its container.*/
#homepageBannerImage {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

/*Applying general sizing and styling properties 
as well as position properties so that a subtitle
appears within the image container.*/
.bannerSubtitle {
    background-color: var(--titleBackgroundColor);
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    position: absolute;
    top: 180px;
    right: 10px;
}

/*END OF HOMEPAGE BANNER Styling Attributes*/

/*ABOUT ME AND CONTACT ME SECTION STYLING ATTRIBUTES*/

/*Creates a container for the  */
.bodyContentSection {
    display: block;
    height: 125px;
    padding: 10px; 
    display: flex;
    flex-wrap: wrap;
}

/*Body Section 1, "About Me" section. */

.sectionTitleContainer {
    border-color: var(--workSectionBorderColor);
    width: 20%;    
    border-right: solid;
    border-color: var(--workSectionBorderColor);
    height: 125px;
}

.sectionTextContainer {
    width: 70%;
}

.sectionTitle {
    display: block;
    font-size: 30px;
    color: var(--generalTextColor);
    text-align: right;
    margin: 5px;
    padding-right: 5px;
}

.sectionTextContainer {
    height: auto;
    margin-left: 20px;
}
.sectionText1 {
    display: block;
    font-size: 10px;
    display: flex; 
    align-items: center;
    color: var(--generalTextColor);
}

/* CONTACT INFORMATION SECTION */

.contactInformation {
    display: inline;
}

.contactDetails {
    height: 125px;
    margin-left: 20px;
    display: block;
    display: flex;
    align-items: center;
}

.contactInformationLink {
    margin: 20px;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    color: var(--generalTextColor);
}

.contactInformationLink:visited {
    text-decoration: none;
    color: var(--generalTextColor);
} 

/*END OF ABOUT ME AND CONTACT INFORMATION ATTRIBUTES*/

/* WORK EXAMPLES SECTION */


/*WORK SECTION STYLING ATTRIBUTES*/
.bodyContentSection2 {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    padding: 10px;
}

.sectionTitleContainer2 {
    border-color: var(--workSectionBorderColor);
    width: 20%;    
    border-right: solid;
    border-color: var(--workSectionBorderColor);
    height: 500px;
}

.projectsContainer {
    height: 500px;
    padding: 10px;
    width: 70%;
}


.firstProjectContainer {
    width: 100%;
    border: solid;
    border-color: var(--workSectionBorderColor);
    height: 175px;
    margin-bottom: 20px;
}

#firstProjectImage {
    display: inline;
    width: 100%;
    height: 175px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.projectDetails {
    display: block;
    position: relative;
    bottom: 60px; 
    background-color: var(--titleBackgroundColor);
    width: 20%;
    height: 20%;
}

.projectName {
    font-size: 14px;

}

.projectDescription {
    font-size: 10px;
}


.otherProjectsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.otherProjectsImage1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.subProjectContainers {
    display: block;
    width: 45%;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid;
    border-color: var(--workSectionBorderColor);
    
}

/*END OF WORK SECTION STYLING ATTRIBUTES*/